body {
    background-color: rgba(80,116,147,1);
}

circle {
    fill: rgba(167,193,192,1);
    stroke: rgba(123,151,163,1);
}

rect {
    fill: rgba(114,161,180,1);
    stroke: rgba(77,83,118,1);
}

polygon {
    fill: rgba(167,193,192,1);
    stroke: rgba(114,161,180,1);
}

path {
    fill: rgba(123,151,163,1);
    stroke: rgba(77,83,118,1);
}
